html
  head
    title!= title
    script(src='http://code.jquery.com/jquery-1.11.3.min.js')
    script(src='http://code.jquery.com/jquery-migrate-1.2.1.min.js')
  body
    script(src='/script.js')
    h3 Canvas Drawing Websocket
    #canvasDiv